
.warp{
    width: 100%;
    background: #20c997;
}
img {    
    max-width: 100%;
    height: auto;
}
.content  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 30px


}
.title {
    text-align: center;
    padding-top: 20px;
    font-family: 'Baloo Chettan', cursive;
    font-size: 60px;
    font-weight: bold;
    color: whitesmoke
}

.center {
    background: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    border: 20px solid  #2d2c2c;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -50px;
    font-family: 'Baloo Chettan', cursive;


}