.content{
    background-image: url('../image/product_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px 
}
.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.img h1{
    font-size: 20px;
    font-weight: bold
}
.title {
    font-size: 40px;
    padding-bottom: 40px;
}
.img p{
    font-size: 17px;
    text-align: center;
    line-height: 1.625
}
.img img {
    border: 30px solid gainsboro
}
.img img:hover{
    border: 30px solid black
}