.form {
    background: #666666;
    width: 60%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 50px

}
.context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px

}
.title {
    text-align: center;
    font-size: 40px;
   font-family: 'Baloo Chettan', cursive;
   color: white

}
.context input {
    border: unset;
    padding: 0px 19px;
    margin-bottom: 20px;
    width: 70%;
    height: 60px;
    background: #fff;
    color: #353535;
    font-size: 17px;
    border-radius: 15px;
}
.btn {
    background:  rebeccapurple;
    height: 50px;
    margin: auto;
    border: none;
    margin: auto;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Baloo Chettan', cursive;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.para {
    color:  yellow;
    font-size: 17px;
    text-align: center
}